@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  
  padding: 0;
  font-size: 5vw;
  background: black;
  color: grey;
  text-align: center;
  font-family: 'Poppins', sans-serif;;
}
button {
  border: 0.6vw #F9811F solid;
  border-radius: 3vw;
  background: grey;
  color: #E2A60D;
  text-decoration: none;
  padding: 1vw;
}
.paginas {
  margin-top: 5vw;
}